.header {
  height: 700px;
  background-image: url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;


  @media screen and (max-width: 700px) {
    height: 400px;
  }

  &__top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 130px;
    z-index: 10;
    backdrop-filter: blur(20px);

    @media screen and (max-width: 1115px) {
      padding: 0 65px;
    }

    @media screen and (max-width: 700px) {
      padding: 0 25px;
    }
  }

  &__menu {
    &-item {
      color: $primaryTextColor;
      font-weight: bold;
      font-size: 16px;

      @media screen and (max-width: 700px) {
        font-size: 12px;
      }

      &:first-child {
        margin-right: 40px;

        @media screen and (max-width: 700px) {
          margin-right: 15px;
        }
      }

      &_active {
        text-decoration: underline;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    &-message {
      max-width: 455px;
      text-align: center;
      color: $primaryColor;
      font-size: 50px;
      font-weight: 800;
      position: relative;
      text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

      @media screen and (max-width: 700px) {
        font-size: 25px;
        width: 220px;
      }
    }

    &-input {
      margin-top: 40px;
    }
  }
}