.listing-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 30px;
}

.listing-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__image {
    border-radius: 23px;
    width: 274px;
    height: 177px;

    &-wrapper {
      position: relative;

      &:hover {
        cursor: pointer;

        &:before {
          opacity: 1;
        }
      }

      &:before {
        content: 'See more';
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        color: #fff;
        font-weight: 800;
        font-size: 18px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 23px;
        opacity: 0;
        transition: all .3s ease;
      }
    }
  }

  &__address {
    margin-top: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    line-height: 1;
  }

  &__price {
    margin-top: 7px;
    color: $primaryColor;
    font-size: 14px;
    font-weight: 500;
  }
}